{% extends 'base.html' %}
{% load static %}

{% block content %}

<header class="masthead-ter">
   <div class="container my-auto">
      <div class="row">
         <div class="col-lg-10 mx-auto pt-3 custom-color">
            <h5 class="text-uppercase">Mentions légales</h5>
             <br>
             <h6 > Projet développé avec: <a href="https://www.djangoproject.com/" target="_blank">Django</a></h6>
             <br>
            <h6>Template utilisé:  <a href="https://blackrockdigital.github.io/startbootstrap-creative/" target="_blank">Bootstrap</a></h6>
             <br>
            <h6>Logo et images mises à disposition gratuitement par IconMoon:  <a href="https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide#/elements-basiques/marque-et-logo" target="_blank">Pur-Beurre Openclassrooms</a></h6>
             <br>
            <h6>Icones:  <a href="https://thenounproject.com/term/carrot/29691/" target="_blank">The Noun Project</a></h6>
             <br>
             <h6>Photo:  <a href="https://unsplash.com/photos/k60JspcBwKE" target="_blank">Kawin Harasai</a></h6>
             <br>
         </div>
      </div>
   </div>
</header>
{% endblock %}


