{% extends 'base.html' %}

{% block content %}
   
    <section class="page-section" id="Instructions">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h3> Votre mot de passe a été réinitialisé avec succès</h3>
                    <button><a href="{% url 'login' %}">Se connecter</a></button>         
                </div>
            </div>           
        </div>
    </section>
{% endblock %}