{% extends 'base.html' %}

{% block content %}
   
    <section class="page-section" id="Réinitialisation">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h2 class="mt-0">Pour réinitialiser votre mot de passe, entrez votre email</h2>
                    <hr class="divider" />                    
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                <div class="col-lg-6">
                    <!-- Name input-->                        
                    <!--<p>{{ message }}</p>-->
                    <form method="post" enctype="multipart/form_data">                    
                        <!--{{ form.as_p }}-->
                        {% csrf_token %}  
                        {{ form }}             
                        <button id="connexion-button" type="submit">Soumettre</button>
                    </form>
                                                                                 
                </div>
            </div>            
        </div>
    </section>
{% endblock %}