<!DOCTYPE html>
{% load static %}
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Purbeurre</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="css/icons.css" />
        
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->        
        <!--<link href="css/styles.css" rel="stylesheet" />-->
        
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    </head>
    
    <body id="page-top">    
        <!-- Navigation-->        
            <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 bg-primary"  id="mainNav">
                <div class="container px-4 px-lg-5">
                    <a class="navbar-brand" href="/">
                        <img class="img-responsive" src="{% static 'assets/img/logo_pur_beurre.png' %}" width=30/></a></li>Pur Beurre</a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ms-auto my-2 my-lg-0">
                            <form class="d-flex" method=POST action="{% url 'results' %}">
                                {% csrf_token %}
                                <input class="form-control me-2"
                                type="search" placeholder="Chercher" 
                                aria-label="Chercher" name="query">
                                <!--<button class="icon"><i class="fa fa-search"></i></button>-->
                                <button id="result-button" class="btn btn-outline-secondary" type="submit">Chercher</button>
                            </form>
                        
                            {% if user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">
                                <img class="img-responsive" src="{% static 'assets/img/user_account_icon_145918.png' %}" width=30</a>Mon compte</li>
                            {% else %}
                            <li class="nav-item"><a class="nav-link" <a href="{% url 'signup' %}">Créer un compte</a></li>
                            {% endif %}

                            {% if user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'favoris_page' %}">
                                <img class="img-responsive" src="{% static 'assets/img/noun-carrot-29691.png' %}" width=30/>Mes aliments</a></li>
                            {% else %}
                            <li class="nav-item"><a class="nav-link" <a href="{% url 'login' %}">Mes aliments</a></li>
                            {% endif %}

                            {% if user.is_authenticated %}
                                <li class="nav-item"><a class="nav-link"<a href="{% url 'logout' %}">
                                    <img class="img-responsive" src="{% static 'assets/img/logout_icon_138409.png' %}" width=30/>déconnexion</a></li>
                            {% else %}
                                <li class="nav-item"><a class="nav-link" <a href="{% url 'login' %}">Connexion</a></li>
                            {% endif %}                                  
                            
                        </ul>
                    </div>
                </div>
            </nav>                               
        <!-- About-->
        {% block content %}   
        {% endblock %}
                

            <footer class="bg-light py-5">
                <div class="container px-4 px-lg-5">
                   <!--<div class="row">-->
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                      <div class="col-lg-4 col-md-6 text-center">
                         <!--<div class="service-box mt-5 mx-auto">-->
                            <!--<i class="fas fa-4x fa-gem text-icone mb-3 sr-icon-1" ></i>-->
                            <a href ="{% url 'notices' %}" class="small text-center text-muted">Mentions légales</a>
                      </div>
                    </div>
                </div>
                     
            </footer>      
        
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!--<script src="{% static 'products/https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' %}"></script>-->
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <!--<script src="js/scripts.js"></script>-->
        <script src="{% static 'products/js/scripts.js' %}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
